<div class="hero-extra-bg-svg">
  <div class="svg-text1">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="33"
      height="33"
      viewBox="0 0 33 33"
    >
      <g id="Indicator" transform="translate(4 1)">
        <circle
          id="Ellipse_3"
          data-name="Ellipse 3"
          cx="12.5"
          cy="12.5"
          r="12.5"
          fill="#FFD300"
          opacity="0.42"
        ></circle>
        <g transform="matrix(1, 0, 0, 1, -4, -1)">
          <g
            id="Ellipse_2-2"
            data-name="Ellipse 2"
            transform="translate(9 6)"
            fill="#FFD300"
            stroke="rgba(255,255,255,0.25)"
            stroke-width="1"
          >
            <circle
              class="innerCircle"
              cx="7.5"
              cy="7.5"
              r="7.5"
              stroke="none"
            ></circle>
            <circle cx="7.5" cy="7.5" r="7"></circle>
          </g>
        </g>
      </g>
    </svg>
    <p>
      Laisser votre client <br>
      vous donner un avis
    </p>
  </div>
  <div class="svg-text2">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="33"
      height="33"
      viewBox="0 0 33 33"
    >
      <g id="Indicator" transform="translate(4 1)">
        <circle
          id="Ellipse_3"
          data-name="Ellipse 3"
          cx="12.5"
          cy="12.5"
          r="12.5"
          fill="#FFD300"
          opacity="0.42"
        ></circle>
        <g transform="matrix(1, 0, 0, 1, -4, -1)">
          <g
            id="Ellipse_2-2"
            data-name="Ellipse 2"
            transform="translate(9 6)"
            fill="#FFD300"
            stroke="rgba(255,255,255,0.25)"
            stroke-width="1"
          >
            <circle
              class="innerCircle"
              cx="7.5"
              cy="7.5"
              r="7.5"
              stroke="none"
            ></circle>
            <circle cx="7.5" cy="7.5" r="7"></circle>
          </g>
        </g>
      </g>
    </svg>
    <p>
      Laisser votre client <br>
      vous donner un avis
    </p>
  </div>
  <div class="svg-text3">
    <p>Augmentez vos notes !</p>

    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="33"
      height="33"
      viewBox="0 0 33 33"
    >
      <g id="Indicator" transform="translate(4 1)">
        <circle
          id="Ellipse_3"
          data-name="Ellipse 3"
          cx="12.5"
          cy="12.5"
          r="12.5"
          fill="#FFD300"
          opacity="0.42"
        ></circle>
        <g transform="matrix(1, 0, 0, 1, -4, -1)">
          <g
            id="Ellipse_2-2"
            data-name="Ellipse 2"
            transform="translate(9 6)"
            fill="#FFD300"
            stroke="rgba(255,255,255,0.25)"
            stroke-width="1"
          >
            <circle
              class="innerCircle"
              cx="7.5"
              cy="7.5"
              r="7.5"
              stroke="none"
            ></circle>
            <circle cx="7.5" cy="7.5" r="7"></circle>
          </g>
        </g>
      </g>
    </svg>
  </div>
</div>
