<div class="container">
  <div>
    <div class="position-relative">
      <!-- {% render 'hero-bg' %} -->
    </div>
    <div class="text-center">
      {% render 'counter' %}
      <p class=" text-dark fw-bold">
        Grâce à la carte Starify personnalisée avec votre logo et un QR code, collectez rapidement des avis de vos
        clients au moment où ils règlent leurs achats grâce à la technologie sans contact.
      </p>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Features",
  "settings": [],
  "presets": [
  {
    "name": "Features",
    "category": "Custom"
  }
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
