{% assign menu = section.settings.footer_linklist %}
<footer class="">
  <div class="container py-5 mt-5">
    <div class="row justify-content-center align-items-center">
      <div class="col-sm-12 col-md-6 col-lg-6 d-flex justify-content-center align-items-center">
        <div class="w-100 d-flex justify-content-center align-items-center">
          <img width="200px" src="https://starify.me/wp-content/uploads/2022/12/starify.svg" class="m-auto">
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 d-flex flex-column justify-content-center align-items-center">
        <div>
          <ul class="d-flex p-2 justify-content-between list-unstyled">
            {% for link in menu.links %}
              <li class="text-gray">
                <a class="h6 text-decoration-none text-reset p-2 fs-6" href="{{ link.url }}">{{ link.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div>
          <p>© 2023 Copyright Starify – All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "link_list",
      "id": "footer_linklist",
      "label": "Footer menu",
      "default": "footer"
    },
    {
      "type": "checkbox",
      "id": "show_payment_icons",
      "label": "Show payment icons",
      "default": false
    }
  ]
}
{% endschema %}
