<div class="container">
  <div class="owl-carousel owl-theme">
    <div class="item shadow-sm">
      <div class="p-2">
        <div class="w-100">
          <img
            width="100%"
            class=""
            src="https://starify.me/wp-content/uploads/2023/05/Trustpilot-Review-Joyce-768x768.png"
            alt="Trustpilot Review - Joyce"
          >
        </div>
      </div>
    </div>
    <div class="item shadow-sm">
      <div class="p-2">
        <div class="w-100">
          <img
            width="100%"
            class=""
            src="https://starify.me/wp-content/uploads/2023/05/Trustpilot-Review-Joyce-768x768.png"
            alt="Trustpilot Review - Joyce"
          >
        </div>
      </div>
    </div>
    <div class="item shadow-sm">
      <div class="p-2">
        <div class="w-100">
          <img
            width="100%"
            class=""
            src="https://starify.me/wp-content/uploads/2023/05/Trustpilot-Review-Joyce-768x768.png"
            alt="Trustpilot Review - Joyce"
          >
        </div>
      </div>
    </div>
    <div class="item shadow-sm">
      <div class="p-2">
        <div class="w-100">
          <img
            width="100%"
            class=""
            src="https://starify.me/wp-content/uploads/2023/05/Trustpilot-Review-Joyce-768x768.png"
            alt="Trustpilot Review - Joyce"
          >
        </div>
      </div>
    </div>
    <div class="item shadow-sm">
      <div class="p-2">
        <div class="w-100">
          <img
            width="100%"
            class=""
            src="https://starify.me/wp-content/uploads/2023/05/Trustpilot-Review-Joyce-768x768.png"
            alt="Trustpilot Review - Joyce"
          >
        </div>
      </div>
    </div>
    <div class="item shadow-sm">
      <div class="p-2">
        <div class="w-100">
          <img
            width="100%"
            class=""
            src="https://starify.me/wp-content/uploads/2023/05/Trustpilot-Review-Joyce-768x768.png"
            alt="Trustpilot Review - Joyce"
          >
        </div>
      </div>
    </div>
    <div class="item shadow-sm">
      <div class="p-2">
        <div class="w-100">
          <img
            width="100%"
            class=""
            src="https://starify.me/wp-content/uploads/2023/05/Trustpilot-Review-Joyce-768x768.png"
            alt="Trustpilot Review - Joyce"
          >
        </div>
      </div>
    </div>
    <div class="item shadow-sm">
      <div class="p-2">
        <div class="w-100">
          <img
            width="100%"
            class=""
            src="https://starify.me/wp-content/uploads/2023/05/Trustpilot-Review-Joyce-768x768.png"
            alt="Trustpilot Review - Joyce"
          >
        </div>
      </div>
    </div>
    <div class="item shadow-sm">
      <div class="p-2">
        <div class="w-100">
          <img
            width="100%"
            class=""
            src="https://starify.me/wp-content/uploads/2023/05/Trustpilot-Review-Joyce-768x768.png"
            alt="Trustpilot Review - Joyce"
          >
        </div>
      </div>
    </div>
  </div>
</div>
<script>
    $('.owl-carousel').owlCarousel({
      loop:true,
      margin:10,
      autoplay: true,
      autoPlaySpeed: 2000,
      autoPlayTimeout: 2000,
      autoplayHoverPause: true,
      slideTransition: 'linear',
      nav:true,
      responsive:{
          0:{
              items:2
          },
          600:{
              items:4
          },
          1000:{
              items:5
          }
      }
  })
</script>

{% schema %}
{
  "name": "Review section",
  "settings": [],
    "presets": [
  {
    "name": "Review section",
    "category": "Product"
  }
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
