<div class="simple-bg">
  <div class="container py-4">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <span class="bg-dark text-primary rounded p-1 " width="30px">Starify.me</span> <br>
      <p class="text-gray fs-1 pb-3">Comment ça marche</p>
      <div class="img-box w-100">
        <img
          width="100%"
          src="https://starify.me/wp-content/uploads/2023/02/main-canvas-63f5df8d5b6976ac4ec4b2ad@2x.png"
        >
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Simple section",
  "settings": [],
  "presets": [
    {
      "name": " Simple section",
      "category": "Product"
    }
  ]
}
{% endschema %}
{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
